button {
  border: none;
}

.btn {
  height: 45px;
  background: $main-color;
  padding: 12px 26px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  z-index: 4;
  font-weight: bold;
  font-size: 14px;
  color: $white-color;
  transition: all 0.6s;
  &:hover,
  &:focus {
    color: $white-color;
    background: $main-hover-color;
  }
  &_trans {
    background: transparent;
    box-shadow: none;
    transition: all 0.6s;
    &:hover,
    &:focus {
      color: $main-color;
      background: transparent;
    }
  }
  &_black {
    color: $black-color;
  }
}
