.my-projects {
  padding-top: 120px;
  &__grid-container {
    margin-top: 60px;
    display: grid;
    grid-template: repeat(2, 280px) / repeat(4, 280px);
    grid-auto-rows: 280px;
    gap: 5px;
    .uber {
      grid-row: 1/3;
    }
    .webStudio,
    .phoneBook {
      grid-column: 2/4;
    }
    .pulse {
      grid-row: 1/3;
      grid-column: 4/5;
    }
    .timer {
      grid-column: 1/3;
    }
    .countdownTimer {
      grid-column: 3/5;
    }
    .findImagesJS {
      grid-row: 4/6;
    }
    .news {
      grid-column: 2/4;
      grid-row: 4/6;
    }
    .words {
      grid-column: 4/5;
      grid-row: 4/6;
    }
    .findingMovies {
      grid-column: 1/3;
    }
    .findingImagesReact {
      grid-column: 3/5;
    }
    &_team {
      grid-template: 400px / repeat(3, 375px);
      grid-auto-rows: 400px;
    }
  }
  &__item {
    position: relative;
    z-index: 4;
    transition: all 0.6s;
    &:hover,
    &:focus {
      transform: scale(1.05);
      z-index: 5;
    }
  }
  &__overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.6s;
    opacity: 0;
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
  &__about {
    position: absolute;
    padding: 0px 10px;
    top: 10px;
    width: 100%;
    text-align: center;
    color: $grey-color;
  }
  &__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
  }
  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  &__name {
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    color: $main-color;
  }
  &__links {
    display: flex;
    margin-top: 20px;
    justify-content: center;
  }
  &__link {
    &:not(:first-child) {
      margin-left: 20px;
    }
  }
  &__icon {
    width: 35px;
    height: 35px;
    fill: $white-color;
    transition: all 0.6s;
    &:hover,
    &:focus {
      fill: $main-color;
    }
  }
  &__technologies {
    padding: 0 10px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: $grey-color;
  }
}
