.promo {
  min-height: 100vh;
  position: relative;
  background: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url('../img/main_bg.jpg') no-repeat 50% / cover;
  padding-top: 205px;
  &__lang {
    position: absolute;
    top: 10px;
    right: 106px;
    height: 41px;
    display: flex;
    align-items: center;
    color: $white-color;
    font-weight: bold;
    &-item {
      &:not(:first-child) {
        margin-left: 10px;
      }
      &_current {
        color: $main-color;
      }
    }
    &-link {
      padding: 10px;
    }
  }
  &__title {
    width: 520px;
    margin-top: 10px;
    color: $white-color;
  }
  &__subtitle {
    position: relative;
    z-index: 1;
    padding-left: 10px;
    color: $white-color;
    @include before_circle;
  }
  &__btns {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
  }
}
