.sidepanel {
  position: fixed;
  top: 230px;
  left: 50px;
  display: inline-flex;
  z-index: 3;
  height: 340px;
  transform: rotate(-90deg);
  &__items {
    display: flex;
  }
  &__text {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: $sidebar-color;
    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      background-color: $sidebar-color;
      height: 2px;
      width: 70px;
      margin-left: 15px;
    }
  }
  &__icon {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    fill: $sidebar-color;
    transition: all 0.6s;
    &:hover,
    &:focus {
      fill: $main-color;
    }
  }
}
