.skills {
  padding-top: 120px;
  &__items {
    margin: 60px auto 0 auto;
    padding: 0 13px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 210px));
    justify-content: center;
    gap: 13px;
    max-width: calc(100vw - 26px);
    grid-auto-rows: 1fr;
    .google {
      display: none;
    }
  }
  &__item {
    border: 1px solid $black-color;
    padding: 30px;
    text-align: center;
    &-icon {
      display: block;
      margin: 0 auto;
      width: 65px;
      height: 65px;
    }
    &-text {
      padding-top: 20px;
      &_inline {
        display: inline-block;
      }
      &-emoji {
        padding-top: 20px;
      }
    }
  }
  &__rating {
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: auto;
    gap: 45px;
    &-item {
      display: grid;
      grid-template-columns: 1fr 35px;
      grid-template-rows: minmax(21px, auto) 14px;
      row-gap: 27px;
      justify-content: space-between;
      align-content: space-between;
      &-title {
        position: relative;
        padding-left: 14px;
        @include before_circle;
      }
      &-counter {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
      }
      &-line {
        width: 100%;
        height: 14px;
        background-color: $grey-color;
        border-radius: 4px;
        grid-column: 1 / 3;
        span {
          display: block;
          height: 100%;
          background-color: $main-color;
          border-radius: 4px;
        }
      }
    }
  }
}
